<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Becoming the Atlas{% endblock %}
    </title>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
    <!-- jq -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/articleAjax.js')}}" type="module"></script>
    <!-- styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/defaults.css') }}">
  </head>
  <body>
    <header class="centerText">
      <h1><a href="/">Becoming the Atlas</a></h1>
    </header>
    <h4 class="centerText">Where I've been and my commentary on those experiences.</h4>
    <div id="mapWrapper">
      {% block mapWrapper %}{% endblock %}
    </div>
    <div id="blogroll">
      {% block blogroll %}{% endblock %}
    </div>
    <div id="article">
      <!--Article loads into here via jquery -->
    </div>
  </body>
</html>