<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Becoming the Atlas{% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- leaflet -->
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <!-- jq -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(document).ready( function () {
          $('.articleToShow').click(function(e) {
            pathValue = e.target.name
            let defaultUrl = "{{ url_for('page', path='welcome') }}"
            let pathBasedUrl = defaultUrl.replace(/welcome/, pathValue)
            $.ajax(pathBasedUrl).done(function (reply) {
                $('#articleFromAjax').html(reply);
            });
          });
      });
    </script>

    <!-- styles -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/defaults.css') }}">
  </head>
  <body>
    <header class="centerText">
      <h1><a href="/">Becoming the Atlas</a></h1>
      <a href="#" class="articleToShow">Click here to test jq</a>
    </header>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="articleFromAjax"></div>
  </body>
</html>