{% extends "base.html" %}

{% block content %}

<h4 class="centerText">Where I've been and my commentary on those experiences.</h4>

<!-- map object -->
<div id="map"></div>
<!-- map logic -->
<script src="{{url_for('static', filename='map.js')}}" type="module"></script>

<!-- blogroll from markdown files -->
<table border="2px" class="articleTable">
    <thead>
        <tr>
            <td class="centerText bold">Atlas Files</td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Search for content"></input></td>
        </tr>
    </thead>
        {% for page in pages %}
        <tr>
            <td> 
                <a href="#" class="articleToShow" name={{ page.path }}> {{ page.title }}</a>
            </td>
        </tr>
        {% endfor %}
</table>

{% endblock %}