{% extends "base.html" %}

{% block content %}

<p> Welcome to my blog! Enjoy.</p>

<table border="2px">
    <thead>
    <tr>
      <td> Title </td>
      <td> Link </td>
    </tr>
    </thead>

    <!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-135.21972656250003%2C20.262197124246534%2C-67.45605468750001%2C52.32191088594773&amp;layer=mapnik&amp;marker=38.013476231041935%2C-101.337890625" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=38.013&amp;mlon=-101.338#map=5/38.013/-101.338">View Larger Map</a></small> -->
    <div id="map" style="height: 250px;"></div>
    <script type="text/javascript">
        // The first parameter are the coordinates of the center of the map
        // The second parameter is the zoom level
        var map = L.map('map').setView([40.712, -74.006], 11);

        markers = [[40.712, -74.006], [40.713, -74.007]]

        // function pinMarker(marker, index) {
        //     L.marker(marker).addTo(map)
        //     .bindPopup(`<strong>Pin ${index}</strong>`).openPopup();
        // }

        // markers.forEach(pinMarker(marker, index))

        L.marker([40.712, -74.006]).addTo(map)
            .bindPopup(`<strong>Pin One</strong>`).openPopup();
        L.marker([40.713, -74.007]).addTo(map)
            .bindPopup(`<strong>Pin Two</strong>`).openPopup();

        // {s}, {z}, {x} and {y} are placeholders for map tiles
        // {x} and {y} are the x/y of where you are on the map
        // {z} is the zoom level
        // {s} is the subdomain of cartodb
          var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });
        
        // Now add the layer onto the map
        map.addLayer(layer);
      </script>

    {% for page in pages %}
    <tr>
      <td> {{ page.title }}</td>
      <td> <a href="{{ page.path }}.html"> Read </a></td>
    </tr>
    {% endfor %}
  
  </table>

{% endblock %}