{% extends "base.html" %}

{% block content %}

<p> Welcome to my blog! Enjoy.</p>

<table border="2px">
    <thead>
    <tr>
      <td> Title </td>
      <td> Link </td>
    </tr>
    </thead>

    <!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-135.21972656250003%2C20.262197124246534%2C-67.45605468750001%2C52.32191088594773&amp;layer=mapnik&amp;marker=38.013476231041935%2C-101.337890625" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=38.013&amp;mlon=-101.338#map=5/38.013/-101.338">View Larger Map</a></small> -->
    <div id="map" style="height: 250px;"></div>

    <!-- map logic will be in the map.js file -->
    <script src="{{url_for('static', filename='map.js')}}" type="text/javascript"></script>

    {% for page in pages %}
    <tr>
      <td> {{ page.title }}</td>
      <td> <a href="{{ page.path }}.html"> Read </a></td>
    </tr>
    {% endfor %}
  
  </table>

{% endblock %}