/* General */

.bold {
    font-weight: bold;
}

.centerText {
    text-align: center;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Articles */

.articleTable input {
    min-width: 96%;
    max-width: 96%;
}

.articleTableScrollable {
    overflow: auto;
}

.articleTableWrapper {
    flex: right; 
    width: 18vw;
}

#article {
    position: relative;
    width: 75vw;
    float: left;
}

/* Blogroll */

#blogroll {
    float: right;
    max-width: 20vw;
}

/* Map */

#controls {
    margin: 5px; 
    max-height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#map {
    height: 90%;
    width: 100%;
}

#mapWrapper {
    height: 50vh;
    width: 75vw;
    float: left;
    margin: 0% 1%;
    position: relative;
    outline-color:black;
    outline-style: solid;
}