/* General */

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-subheader {
    margin-top: -10px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Articles */

#article {
    position: relative;
    width: 75vw;
    float: left;
    margin: 0% 2%;
}

.article-link {
    font-size: 14pt;
    text-decoration: none;
}

.article-pin-hover {
    font-weight: bold;
    color: rgba(0, 255, 13, 0.342);
}

.article-table input {
    min-width: 96%;
    max-width: 96%;
}

.article-table-scrollable {
    overflow: auto;
}

.article-table-wrapper {
    flex: right; 
    width: 18vw;
}

/* Blogroll */

#blogroll {
    float: right;
    max-width: 20vw;
    margin: 0% .5%
}

.blogroll-title {
    font-size: 16pt;
    font-weight: bold;
}

/* Map */

#controls {
    margin: 5px; 
    max-height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

#map {
    height: 90%;
    width: 100%;
}

#mapwrapper {
    height: 50vh;
    width: 75vw;
    float: left;
    margin: 0% 2%;
    position: relative;
    outline-color:black;
    outline-style: solid;
}

/* Popups */

.leaflet-popup-tip-container {
    cursor: pointer;
}

.leaflet-clickable {
    cursor: pointer;
}

/* Media queries or small screens  */

@media (max-width: 50em) {
    #mapwrapper {
        width: 90vw;
        float: none;
    }

    #blogroll {
        float: none;
        max-width: 20vw;
        padding: 2% 1%;
    }

    .article-table-wrapper {
        flex: none; 
        width: 90vw;
    }

  }