.articleTable input {
    min-width: 96%;
    max-width: 96%;
}

.articleTableScrollable {
    overflow: auto;
}

.articleTableWrapper {
    overflow: auto;
    flex: right; 
    width: 18vw;
    height: 50vh;
    position: relative;
}

#article {
    position: relative;
    width: 75vw;
    float: left;
}

.bold {
    font-weight: bold;
}

.centerText {
    text-align: center;
}

#content {
    height: 50vh;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 50vh;
    width: 75vw;
    float: left;
    margin: 0% 1%;
    position: relative;
    outline-color:black;
    outline-style: solid;
}
